.dishes-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.dish-card {
    cursor: pointer;
    transition: transform 0.3s;
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
}

.dish-card:hover {
    transform: scale(1.05); /* كيتحرك شوية فاش كدوز عليه الماوس */
}

.dish-card img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}